<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-primary">
<!--        <hr class="star-light">-->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h2 style="text-align:center;margin-bottom:30px;">Skills</h2>
        <div class="image-container">
          <img src="img/skill/java.png" class="fixed-size">
          <img src="img/skill/springboot.svg" class="fixed-size">
          <img src="img/skill/js.png" class="fixed-size">
          <img src="img/skill/jsp.png" class="fixed-size">
          <img src="img/skill/css.png" class="fixed-size">
          <img src="img/skill/html.png" class="fixed-size">
          <img src="img/skill/oracle.png" class="fixed-size">
          <img src="img/skill/mysql.png" class="fixed-size">
          <img src="img/skill/postgresql.png" class="fixed-size">
          <img src="img/skill/redis.png" class="fixed-size">
          <img src="img/skill/rabbitmq.png" class="fixed-size">
          <img src="img/skill/github.png" class="fixed-size">
          <img src="img/skill/linux.png" class="fixed-size">
          <img src="img/skill/docker.png" class="fixed-size">
        </div>
      </div>
      <div class="col-lg-6">
        <h2 style="text-align:center;margin-bottom:30px;">Tools</h2>
        <div class="image-container">
          <img src="img/tool/intellij.png" class="fixed-size">
          <img src="img/tool/postman.png" class="fixed-size">
          <img src="img/tool/dbeaver.png" class="fixed-size">
          <img src="img/tool/vs.png" class="fixed-size">
          <img src="img/tool/mobaxterm.png" class="fixed-size">
          <img src="img/tool/filezilla.png" class="fixed-size">
          <img src="img/tool/notion.png" class="fixed-size">
          <img src="img/tool/figma.png" class="fixed-size">
        </div>
      </div>
<!--      <div class="col-lg-8 col-lg-offset-2 text-center">-->
<!--        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">-->
<!--          <i class="fa fa-download"></i> Download Theme-->
<!--        </a>-->
<!--      </div>-->
    </div>
  </div>
</section>
