{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<section class="section">
  <div class="hr-fade"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Project</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-home-items %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item">
        <div class="position-relative rounded hover-wrapper">
            <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
                <div class="hover-content">
                    <a class="btn btn-light btn-sm" href="#" data-toggle="modal" data-target="#portfolioModal" data-url="{{ site.baseurl }}/{{ item.url }}">view project</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</section>
<!-- /portfolio -->


<!-- Modal -->
<div class="modal fade" id="portfolioModal" tabindex="-1" role="dialog" aria-labelledby="portfolioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <!-- 마크다운 내용이 이곳에 로드됩니다 -->
                <div id="modalContent" class="content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}