{% if site.data.settings.skills-title %}
<!-- skills -->
<section class="section">
  <div class="hr-fade"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.skills-title }}</h2>
      </div>
      <div class="col-lg-5 skill-container">
        <div class="image-item">
          <img src="{{ site.baseurl }}/assets/images/skill/java.svg" alt="Java">
        </div>
        <div class="image-item">
          <img src="{{ site.baseurl }}/assets/images/skill/javascript.svg" alt="JavaScript">
        </div>
        <div class="image-item">
          <img src="{{ site.baseurl }}/assets/images/skill/Jquery.png" alt="jQuery">
        </div>
        <div class="image-item">
          <img src="{{ site.baseurl }}/assets/images/skill/html.svg" alt="HTML">
        </div>
        <div class="image-item">
          <img src="{{ site.baseurl }}/assets/images/skill/css.svg" alt="CSS">
        </div>
        <div class="image-item">
          <img src="{{ site.baseurl }}/assets/images/skill/css.svg" alt="CSS">
        </div>
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-5 tool-container">
        <div class="image-item">
          <img src="{{ site.baseurl }}/assets/images/skill/css.svg" alt="CSS">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /skills -->
{% endif %}