/* Button style */
.btn {
  font-size: 22px;
  font-family: $secondary-font;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none;
  }

  &-sm {
    font-size: 15px;
    padding: 10px 30px;
  }

  &-xs {
    padding: 5px 10px;
    font-size: 15px;
  }
}

.btn-primary {
  background: $primary-color;
  color: $white;

  &:active {
    background: lighten($color: $primary-color, $amount: 10) !important;
  }

  &:hover {
    background: lighten($color: $primary-color, $amount: 10);
  }

  &.focus,
  &.active {
    background: lighten($color: $primary-color, $amount: 10) !important;
    box-shadow: none !important;
  }
}


.btn-transparent {
  background: transparent;
  color: $primary-color;
  font-weight: bold;

  &:active,
  &:hover {
    color: $primary-color;
  }
}

.know-more-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: linear-gradient(135deg, #4F46E5, #6B21A8); /* 보라색 계열 그라데이션 */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.know-more-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.know-more-btn:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.know-more-btn:hover {
  color: #D1C4E9; /* 원하는 글자색으로 변경 */
  background: linear-gradient(135deg, #6B21A8, #4F46E5); /* 약간 반전된 느낌 */
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(79, 70, 229, 0.5);
}


.know-more-btn:active {
  transform: scale(0.95); /* 클릭 시 약간 눌리는 효과 */
}
